transformers==4.43.4
datasets==2.20.0
accelerate==0.32.0
peft==0.12.0
trl==0.9.6
numpy==1.26.4
bitsandbytes==0.43.1
modelscope==1.37.1
faiss-cpu==1.8.0.post1
scikit-learn==1.5.2
fschat==0.2.36
flask==3.0.3
pandas==2.2.2
scipy==1.13.1
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
nltk
jieba
rouge-chinese
